name: Lint + Spellcheck

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: write
    
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: taiki-e/cache-cargo-install-action@main
        with:
          tool: typstyle
          
      - name: Lint Typst
        run: |
          typstyle typst/ --check --indent-width 4 --verbose --timing
          
      - name: Run Spellcheck (Harper-based)
        run: |
          cargo build
          cargo run -- typst/template.typ --extra-dict extra_words.txt
          cargo run -- typst/rajeev_atla_resume.typ --extra-dict extra_words.txt