name: Compile and Lint Typst

on:

  push:
    branches: '**'
  pull_request:
    branches: '**'
  schedule:
    - cron: 0 * * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: typstyle
          
      - name: Lint Typst
        run: |
          cd typst
          typstyle rajeev_atla_resume.typ template.typ --inplace --indent-width 4 --verbose --timing
          cd ..
          
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: latest
          allow-prereleases: true
          
      - name: Run Typst
        run: |
          typst compile typst/rajeev_atla_resume.typ pdf/resume.pdf --input position=default &
          typst compile typst/rajeev_atla_resume.typ pdf/Rajeev_Atla_resume_intern.pdf --input position=intern &
          typst compile typst/rajeev_atla_resume.typ pdf/Rajeev_Atla_resume_fulltime.pdf --input position=fulltime &
          typst compile typst/rajeev_atla_resume.typ pdf/Rajeev_Atla_resume_BS.pdf --input position=BS &
          typst compile typst/rajeev_atla_resume.typ img/resume_LQ.png --input position=default &
          typst compile --ppi 1200 typst/rajeev_atla_resume.typ img/resume.png

      - name: Copy resume file
        run: |
          cp 'pdf/resume.pdf' 'resume.pdf'
          
      - name: Commit files
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]
          git add .
          git commit -m "compile resume and add generated resume.pdf files"

      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
